body, html {
  background-color: rgb(255, 250, 220);
  overflow: hidden;
}

@font-face {
  font-family: Hello;
  src:url("assets/Hello.ttf");
}

#close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1000px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 0px rgb(66, 160, 136);
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1000px;
  background-color: white;
  border: 2px solid rgb(66, 160, 136);
  border-radius: 15px;
  cursor: crosshair;
}

#overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1000px;
  border: none;
  border-radius: 15px;
  pointer-events: none;
}

.toolbar {
  position: absolute;
  left: 30px;
  top: 150px;
  background-color: white;
  width: 145px;
  height: 780px;
  border: 2px solid rgb(66, 160, 136);
  border-radius: 15px;
  box-shadow: 10px 10px 0px rgb(66, 160, 136);
}

.tool {
  position: relative;
  left: 10px;
  top: 15px;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid rgb(66, 160, 136);
  border-radius: 5px;
  background-color: white;
}

#erase {
  background-color: white;
  box-shadow: 3px 3px 0px rgb(66, 160, 136);
  width: 115px;
}
#clearPage {
  background-color: white;
  border: 2px solid rgb(255, 104, 104);
  box-shadow: 3px 3px 0px rgb(255, 104, 104);
  width: 115px;
}
#export {
  background-color: white;
  border: 2px solid rgb(104, 76, 0);
  box-shadow: 3px 3px 0px rgb(104, 76, 0);
  width: 115px;
}
#small {
  background-color: white;
  box-shadow: 3px 3px 0px rgb(66, 160, 136);
}
#medium {
  background-color: white;
  box-shadow: 3px 3px 0px rgb(66, 160, 136);
}
#large {
  background-color: white;
  box-shadow: 3px 3px 0px rgb(66, 160, 136);
}
#largest {
  background-color: white;
  box-shadow: 3px 3px 0px rgb(66, 160, 136);
}
#red {
  background-color: rgb(255, 117, 117);
}
#blue {
  background-color: rgb(132, 210, 255);
}
#orange {
  background-color: rgb(255, 139, 62);
}
#deepblue{
  background-color: rgb(96, 99, 255);
}
#yellow {
  background-color: rgb(255, 255, 102);
}
#green{
  background-color: rgb(98, 255, 119);
}
#purple {
  background-color: rgb(164, 94, 255);
}
#pink {
  background-color: rgb(255, 108, 243);
}
#darkgreen{
  background-color: rgb(19, 165, 0);
}
#brown {
  background-color: rgb(145, 119, 71);
}
#black {
  background-color: black;
}

#headline {
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Hello;
  font-size: 40pt;
  color: rgb(66, 160, 136);
  background-color: transparent;
  border: none;
  outline: none;
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
  text-wrap: wrap;
  cursor: text;
  text-transform: uppercase;
  resize: none;
  z-index: 99;
}

#headlineText {
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Hello;
  font-size: 40pt;
  color: rgb(66, 160, 136);
  background-color: transparent;
  box-sizing: border-box;
  padding-top: 50px;
  z-index: 99;
  display: inline-block;
  text-transform: uppercase;
  text-wrap: wrap;
  pointer-events: none;
}

#headline::placeholder {
  color: rgb(66, 160, 136);
}

.box {
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 200px;
  height: 50px;
}

.spanner {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid rgb(66, 160, 136);
  border-radius: 50px;
}

#spann {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50px;
}

#code {
  position: relative;
  bottom: 35px;
  left: 55px;
  font-size: 30pt;
  font-family: Hello;
  color: rgb(66, 160, 136);
}

.claim {
  position: absolute;
  right: 10px;
  bottom: 0px;
  margin: 0;
  color: rgb(184, 167, 120);
  font-family: Hello;
  font-size: 16pt;
}